<section class="min-h-screen flex flex-col">
  <div class="flex flex-1 items-center justify-center">
    <div class="sm:border-2 px-6 lg:px-6 py-16 lg:max-w-xl sm:max-w-md w-full text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <h1 class="font-bold tracking-wider text-3xl mb-8 w-full text-gray-900">
          Edit your account
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <div class="py-2 text-left">
            <%= f.text_field :last_name, class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4  focus:border-gray-700" %>
          </div>
          <div class="py-2 text-left">
            <%= f.text_field :first_name, class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4  focus:border-gray-700" %>
          </div>
          <div class="py-2 text-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email@helpmecook.com", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4  focus:border-gray-700" %>
          </div>
          <div class="py-2 text-left">
            <%= f.text_field :pseudo, placeholder:"Pseudo", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4  focus:border-gray-700" %>
          </div>
          <div class="col-span-1 md:col-span-2">
            <div class="flex gap-x-2">
              <input type="checkbox">
              <p class=" text-left">Do you want to change your password ?</p>
            </div>
            <div class="py-2 text-left check-on field">
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"New password", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4  focus:border-gray-700" %>
            </div>
            <div class="py-2 text-left check-on field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"New password confirmation", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4  focus:border-gray-700" %>
            </div>
          </div>
          <div class="py-2 text-left md:col-span-2 field">
            <p class=" text-left mb-2">We need your current password to confirm changes</p>
            <%= f.password_field :current_password, autocomplete: "current-password",placeholder:"Current password", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4  focus:border-gray-700" %>
          </div>
        </div>
        <div class="py-2 actions">
          <%= f.submit "Update", class:"cursor-pointer border-2 border-gray-100 focus:outline-none bg-orange-600 text-white font-bold tracking-wider block w-full p-2  focus:border-gray-700 hover:bg-orange-500" %>
        </div>
        <% end %>
        <div class="text-center mt-6">
          <span>
            <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
          </span>
        </div>
        <% if resource.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li class="text-red-400"><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</section>
<script>
const checkbox = document.querySelector('input[type="checkbox"]');
const checkOnDivs = document.querySelectorAll('.check-on');

checkOnDivs.forEach(div => div.style.display = 'none');

checkbox.addEventListener('change', function() {
  if(this.checked) {
    checkOnDivs.forEach(div => div.style.display = 'block');
  } else {
    checkOnDivs.forEach(div => div.style.display = 'none');
  }
});
</script>
