<div class="my-10">
  <div class=" container mx-auto w-full md:w-1/2">
    <%= form_for @recipe do |f| %>
      <div class="grid grid-cols-1 md:grid-cols-4 text-center px-4 md:px-0 gap-2">
        <h1 class="col-span-1 md:col-span-4 font-bold text-3xl mb-8  text-gray-900">
          Create your new recipe
        </h1>
        <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Title</p>
          <%= f.text_field :title, placeholder:"Banana cake", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
        <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Description</p>
          <%= f.text_area :description, rows: 5, placeholder:"Delicious banana cake's recipe herited by my grandma", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
         <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Type of recipe</p>
          <%= f.select :recipe_type, options_for_select(['Starter', 'Lunch', 'Diner', 'Dessert', 'Snack']), {}, class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
        <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Difficulty</p>
          <%= f.range_field :difficulty, in: 1..10, class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
        <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Cooking time</p>
          <%= f.number_field :time, in: 1..200, step: 1, placeholder: "10 minutes", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
        <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Number of people</p>
          <%= f.number_field :people, in: 1..20, step: 1, placeholder: "4 people", class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
        <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Budget</p>
          <%= f.select :budget, options_for_select(['Cheap', 'Economic', 'Middle', 'Expensive', 'Fancy']), {}, class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
        <div class="col-span-1 md:col-span-4 py-2 text-left">
          <p class="text-md font-medium text-gray-700 mb-2">Budget</p>
          <%= f.file_field :photo, class:"bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 focus:border-gray-700" %>
        </div>
        <div class="col-span-1 md:col-span-4 py-2 actions">
          <%= f.submit "Submit", class:"cursor-pointer border-2 border-gray-100 focus:outline-none bg-orange-600 text-white font-bold tracking-wider block w-full p-2 focus:border-gray-700 hover:bg-orange-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
