<div class="mx-auto container my-10">
  <div class="grid md:grid-cols-4 gap-4 px-4 md:px-0">
    <div class="md:col-span-3">
      <% if @recipe.photo.key.nil? %>
        <img alt="recipe" src="https://images.unsplash.com/photo-1612709863934-3bf69d759c9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="object-cover max-h-96 w-full"/>
      <% else %>
        <%= cl_image_tag @recipe.photo.key, class:"object-cover max-h-96 w-full" %>
      <% end %>
    </div>
    <div class="md:col-span-1 h-full bg-gray-300">
      <div class="p-5">
        <h2 class="text-gray-800 text-3xl">Recipe's card</h2>
        <div class="grid gap-y-5 mt-6">
          <p class="pb-1 border-b-2 border-gray-200">Time: <%= @recipe.time %> minutes</p>
          <p class="pb-1 border-b-2 border-gray-200">Difficulty: <%= @recipe.difficulty %>/10</p>
          <p class="pb-1 border-b-2 border-gray-200">Budget: <%= @recipe.budget %></p>
          <p class="pb-1 border-b-2 border-gray-200">Type: <%= @recipe.recipe_type %></p>
          <p class="pb-1 border-b-2 border-gray-200">Nb of people: <%= @recipe.people %></p>
          <p>Author: <%= @author %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="my-6 px-4 md:px-0">
    <div class="flex gap-0 md:gap-8 items-center justify-between md:justify-start">
      <h1 class="text-4xl text-gray-800 font-medium">
        <%= @recipe.title %>
      </h1>
      <div class="flex items-center pt-1.5">
        <div class="flex gap-1">
         <div class="flex">
          <% 5.times do |i| %>
            <% if i < @rating_global %>
              <svg aria-hidden="true" class="w-6 h-6 text-yellow-400" fill="#ea580c" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Star <%= i+1 %></title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            <% else %>
              <svg aria-hidden="true" class="w-6 h-6 text-yellow-400" fill="#d4d4d4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Star <%= i+1 %></title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            <% end %>
          <% end %>
        </div>
          <div>
            <p>(<%= @total_comments %>)</p>
          </div>
        </div>
       </div>
      </div>
      <p class="text-lg text-gray-600 mt-6">
        <%= @recipe.description %>
      </p>
    </div>
    <!-- COMMENT SECTION -->
    <section class="bg-white dark:bg-gray-900 py-8 lg:py-16 px-4 md:px-0">
      <div class="w-full md:w-3/4">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion (<%= @total_comments %>)</h2>
        </div>
        <%= form_for @comment do |f| %>
          <div>
            <%= f.hidden_field :recipe_id, value: @recipe.id %>
            <%= f.text_area :content, rows: 3, class:"pt-2 pl-4 px-0 w-full text-sm text-gray-900 focus:outline-none py-2 px-4 mb-2 bg-white border border-gray-200", placeholder: "Write a comment" %>
            <%= f.number_field :rating, in: 1..5, step: 1, placeholder: "Rating (/5)", class:"bg-white border border-gray-200 focus:outline-none bg-white block w-full py-2 px-4 focus:border-gray-700 text-sm text-gray-900 mb-4" %>
          </div>
          <%= f.submit "Submit your comment", class:"inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-orange-600 hover:bg-orange-500" %>
        <% end %>
      <!-- COMMENT -->
      <div class="mt-10">
      <% @comments.each do |item| %>
        <article class="pl-4 mb-6 text-base">
          <div class="flex justify-between items-center mb-2">
            <div class="flex items-center gap-4">
              <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                <img class="mr-2 w-6 h-6 rounded-full" src="https://www.thesun.co.uk/wp-content/uploads/2022/08/553fc8c0-4e02-4a96-800b-a2453827fe2b.jpg" alt="Michael Gough">
                <p class="text-xl">
                  <%= @author %>
                </p>
              </div>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <%= item.created_at.strftime("%d %b %Y") %>
              </p>
              <div class="flex">
              <% 5.times do |i| %>
              <% if item && item.rating.try(:>, i) %>
                <svg aria-hidden="true" class="w-6 h-6 text-yellow-400" fill="#ea580c" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Star <%= i+1 %></title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              <% else %>
                <svg aria-hidden="true" class="w-6 h-6 text-yellow-400" fill="#d4d4d4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Star <%= i+1 %></title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              <% end %>
            <% end %>
              </div>
            </div>
          </div>
          <p class="text-gray-500 dark:text-gray-400">
            <%= item.content %>
          </p>
        </article>
        <% end %>
      </div>
   </section>
</div>
