<div class="flex bg-gray-200 h-20">
  <div class="justify-between mx-auto container flex items-center px-4 md:px-0">
    <%= link_to root_path do %>
      <div>
        <h2 class="text-4xl">🍳</h2>
      </div>
    <% end %>
    <div class="flex gap-x-4 items-center">
      <% if user_signed_in? %>
        <%= link_to new_recipes_path do %>
          <button class="bg-orange-600 px-2 md:px-6 py-1.4 md:py-2 text-gray-100 md:font-medium">
            Publish
          </button>
        <% end %>
        <%= link_to edit_user_registration_path do %>
          <div class="bg-orange-600 px-2 md:px-2 py-1.4 md:py-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#FFFF" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          </div>
            <%= link_to "X", destroy_user_session_path, data: {turbo_method: :delete} %>
        <% end %>
        <% else %>
        <%= link_to new_user_session_path  do %>
          <button class="bg-orange-600 px-2 md:px-6 py-2 md:py-3 text-gray-100 md:font-medium">
            Login
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
